version: "3"

services:
  verifier-app:
    ports:
      - 2904:3000
    build: 
      context: ../
      dockerfile: Dockerfile
    restart: always
    environment:
      - NEXT_PUBLIC_PORT=3000
      - NEXT_PUBLIC_BASE_URL=http://192.168.149.127:2904
      - VS_AGENT_ADMIN_BASE_URL=http://vs-agent:3000
      - CREDENTIAL_DEFINITION_ID=did:web:unic-id-issuer.demos.dev.2060.io?service=anoncreds&relativeRef=/credDef/3Wa9tm1YbVZ9YEpT5Cdxm6KAtDFsoTJJyDNBbYGzBhhp
      - ISSUER_DID=did:webvh:QmU1tBocQ6oZN3zaPFrx9hjB5BnzQr1Kb1GvKqY144Qjjp:dm.gov-id-issuer.demos.dev.2060.io
      - ISSUER_LABEL=Gov ID Issuer
    networks:
      - verifier

  vs-agent:
    image: io2060/vs-agent:v1.5.6
    restart: always
    ports:
      - 3000:3000
      - 3001:3001
    environment:
      - PUBLIC_API_BASE_URL=http://192.168.149.127:3001
      - AGENT_ENDPOINT=ws://192.168.149.127:3001 # For deployments, use wss and the assigned public URL
      - AGENT_INVITATION_IMAGE_URL=https://s3.minio.dev.2060.io/public/gov-id-issuer.png
      - AGENT_LABEL=Gov Id Issuer
      - USE_CORS=true
      - EVENTS_BASE_URL=http://verifier-app:2904
    volumes:
      - ./afj:/root/.afj
    networks:
      - verifier


networks:
  verifier:
    driver: bridge