version: "3"

services:
  verifier-app:
    ports:
      - 2904:3000
    build: 
      context: ../
      dockerfile: Dockerfile
    restart: always
    environment:
      - NEXT_PUBLIC_PORT=3000
      - ISSUER_DID=did:webvh:QmU1tBocQ6oZN3zaPFrx9hjB5BnzQr1Kb1GvKqY144Qjjp:dm.gov-id-issuer.demos.dev.2060.io
      - ISSUER_LABEL=Gov ID Issuer
    networks:
      - verifier

  vs-agent:
    image: io2060/vs-agent:v1.5.6
    restart: always
    ports:
      - 3000:3000
      - 3001:3001
    environment:
      # - AGENT_PUBLIC_DID=did:web:p2801.ovpndev.2060.io # Enable this line for with public URL
      - AGENT_INVITATION_IMAGE_URL=https://s3.minio.dev.2060.io/public/gov-id-issuer.png
      - AGENT_LABEL=Gov Id Issuer
      - USE_CORS=true
      - EVENTS_BASE_URL=http://verifier-app:2904
    volumes:
      - ./afj:/root/.afj
    networks:
      - verifier


networks:
  verifier:
    driver: bridge